@using Final_Back.ViewModels.Contact;
@model ContactIndexVM
@{
    ViewBag.Title = "Contact";
}
@section Style{
    <link rel="stylesheet" href="~/assets/css/contact.css">
}

<section class="contact-container">
    <div class="contact-container1">
        <h1>@Model.ContactInfo.Title</h1>
        <p>@Model.ContactInfo.Description</p>
        <i aria-hidden="true" class="fas fa-map-marker-alt" style="color: #5c9735;"></i>
        <span>VISIT US</span>
        <P>@Model.ContactInfo.Address</P>
        <i aria-hidden="true" class="fas fa-phone" style="color: #5c9735;"></i>
        <span>CALL US</span>
        <p>@Model.ContactInfo.PhoneNumber</p>
        <i aria-hidden="true" class="fas fa-envelope" style="color: #5c9735;"></i>
        <span>EMAIL US</span>
        <p>@Model.ContactInfo.Email</p>
        <p>______________________</p>
        <span>FALLOW US</span>
        <div>
            <i class="fa-brands fa-instagram" style=" padding: 20px"></i>
            <i class="fa-brands fa-facebook" style="padding: 20px"></i>
            <i class="fa-brands fa-twitter" style=" padding: 20px"></i>
            <i class="fa-brands fa-youtube" style="padding: 20px"></i>
        </div>
    </div>
    <div class="contact-container2">
        <h3 style="font-size:  2rem; font-weight: 400;">Drop us a line or two</h3>

        <form method="post"  style="width:400px ; display:flex; place-content:center; flex-direction:column; gap:1em">

            <label>Full Name <span style="color: red;">*</span></label>
            <input type="text" id="name" placeholder="">
            <label>Email Adress<span style="color: red;">*</span></label>
            <input type="email" id="email" name="" placeholder="Email Adress">
            <label>Comment or Message<span style="color: red;">*</span></label>
            <textarea id="message"  class="wpforms-field-medium wpforms-field-required" name="wpforms[fields][2]" placeholder="Your message" required=""></textarea>

            <button type="submit" class="btn-message" style="background-color: #5c9735;margin: 20px; padding: 10px 30px; color:#fff; border-style: none;">Submit</button>
        </form>
     
    </div>
</section>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1422.2357165315655!2d49.86144179625849!3d40.407048570577125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307deb53815d5d%3A0x44f3cca1e25472ae!2sGarage%20Academy!5e0!3m2!1sru!2saz!4v1705424354010!5m2!1sru!2saz" width="100%" height="460" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
