@using Final_Back.Models;
@model List<Customers>
<div class="card">
    <div class="card-body">
        <div class="d-flex; justify-content-lg-between">
            <h5 class="card-title">Customers</h5>
            <a asp-action="create" asp-controller="customer" asp-area="admin" class="col-2 d-sm-inline-block btn btn-outline-success"> Create Customer`s Reviews</a>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Description</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var customer in Model)
                        {
                            <tr>
                                <th>@customer.Id</th>
                                <td>@customer.Name</td>
                                <td><img src="~/assets/img/@customer.FilePath"></td>
                                <td>@customer.Description</td>
                                <th><a asp-controller="customer" asp-action="update" asp-area="admin" asp-route-id="@customer.Id" class="btn btn-secondary">Update</a>
                                <form class="d-inline" method="post" asp-controller="customer" asp-action="delete" asp-area="admin" asp-route-id="@customer.Id">
                                        <button class="btn btn-secondary" type="submit">Delete</button>
                                </form>
                                </th>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
