@using Final_Back.ViewModels.Basket;
@model BasketIndexVM
@section Style{
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
}
        <div class="container">
            <div class="card">
@{
    if (Model.BasketProducts != null)
    {
                <div class="card-body">
                    <h5 class="card-title">Basket Product</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Photo</th>
                                <th scope="col">Title</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var basketProduct in Model.BasketProducts)
                                {
                                    <tr class="basketProducts" id="@basketProduct.Id">
                                        <td><img style="width:100px" src="~/assets/img/@basketProduct.PhotoPath"></td>
                                        <td>@basketProduct.Name</td>
                                        <td>@basketProduct.Price</td>
                                        <td>@basketProduct.Quantity</td>
                                        <th>
                                            <button data-id="@basketProduct.Id" class="btn btn-secondary removebtn" type="submit">Delete</button>
                                        </th>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
        
    }
    else
    {
        <h2>Empty...</h2>
    }
}
            </div>
        </div>

