@using Final_Back.ViewModels.Home;
@model HomeIndexVM
@section Style{
    <link rel="stylesheet" href="~/assets/css/style.css">
}
<div class="">
    
    <div class="elementor-title">
        <h6 style="font-size:18px; padding-top:200px;">@Model.ElementorTitle.Title</h6>
        <h1 style="font-size: 72px; margin: 40px">@Model.ElementorTitle.Description </h1>
        <h1 style="font-size: 72px;">Your Home</h1>
        <div style="padding-bottom: 300px">
            <button class="button-wrapper;"><a href="" style="color: #000; padding: 15px 20px; font-size: 15px; display: inline-block;margin:30px">Shop Now</a></button>
        </div>
    </div>
</div>

<section class="second" style="padding: 0 200px; margin: 0 58px">
    <div style="padding:104px 30px 74px">
        <div class="con-inner">
            <h2 style="font-size: 40px;">New Plants</h2> <button style="background-color: #5c9735; border:none"><a href="" style="color: #fff; padding: 15px 20px; font-size: 15px; display: inline-block">Shop Now</a></button>
        </div>
    </div>
    <div class="shopping-container">
        @{
            foreach (var item in Model.HomeProducts)
            {
                <div class="product">
                    <img src="~/assets/img/@item.FilePath" alt="">
                    <button class="add-to-cart" id="addToCart"><a href="" style="color: #fff;">Add To Cart</a></button>
                    <div class="top"><h2 style="color:#141A0F;font-size: 16px;">@item.Name</h2></div>
                    <div class=""><span style="color:#4d4f48; font-size: 13px;">@item.Description</span></div>
                    <span style="color:#4d4f48;font-size: 14px;">@item.Price </span>
                </div>
            }
        }
    </div>

</section>
<section class="third">
    <div class="our-story-img">
        <img src="@Model.OurStory.FilePath" alt="" style="width: 600px; height: 600px;">
    </div>
    <div class="our-story">
        <h2 style="font-size: 18px;">@Model.OurStory.Name</h2>
        <h6 style="font-size: 40px;">@Model.OurStory.Title</h6>
        <p>@Model.OurStory.Description1</p>
        <p>@Model.OurStory.Description2</p>
        <button style="background-color: #5c9735; border:none"><a href="" style="color: #fff; padding: 15px 20px; font-size: 15px; display: inline-block;">Read More</a></button>
    </div>
</section>
<div style="padding:50px 0">
    <h2 style="text-align:center;font-size:40px;">What Our Customers Say</h2>
    <h3 style="text-align:center;">________</h3>
</div>
<div class="customers">
    @{
        foreach (var customer in Model.Customers)
        {
            <div class="customer">
                <div class="icon-element"><i aria-hidden="true" class="fas fa-quote-left"></i></div>
                <p class="text">@customer.Description</p>
                <div class="customerImg"><img style="border-radius: 50%;" src="~/assets/img/@customer.FilePath" alt=""></div>
                <p style="text-align: center;padding: 20px;">@customer.Name</p>
            </div>
        }
    }
  
</div>
<div class="gift-card-img">
    <div class="gift-card">
    <div class="gift-card">
        <h6 style="font-size: 18px;">@Model.GiftCard.Name</h6>
            <h3 style="font-size: 72px; padding-top: 20px;">@Model.GiftCard.Title</h3>
            <p style="font-size: 16px; padding: 40px;">@Model.GiftCard.Description</p>
        <div style="padding-bottom: 300px;">
            <button style="padding:10px 25px;"><a style="font-size: 15px;" href="">Purchase A Gift Card</a></button>
        </div>
    </div>
</div>
<div class="icon-inner">
        @{
            foreach(var item in Model.Icons)
            {
                <div class="icon-box">
                    <div style="display: inline-block; background-color: #5c9735;padding: 15px; font-size: 20px;border-radius: 50%; color:#fff"><i aria-hidden="true" class="fas @item.Icon"></i></div>
                    <span>@item.Title</span>
                    <p>@item.Description</p>
                </div>
            }
        }
  
 </div>
