@using Final_Back.ViewModels.Header;
@model HeaderVM
<div class="header">
    <div class="header-left"><a asp-controller="hOME" asp-action="Index">Greenstore</a></div>
    <div class="header-right">
        <a asp-controller="Home" asp-action="index" style="margin-right: 15px;">Home</a>
        <a asp-controller="Plant" asp-action="index" style="margin-right: 15px;">Plants</a>
        <a asp-controller="About" asp-action="index" style="margin-right: 15px;">About</a>
        <a asp-controller="Contact" asp-action="index" style="margin-right: 15px;">Contact</a>
        <a href="" style="margin-right: 15px;" data-price="@Model.Price">@Model.Price$</a>
        <a asp-controller="Account" asp-action="login">
            <div class="cart-icon">
                <a asp-controller="Basket" asp-action="index">
                    <i class="fa-solid fa-bag-shopping" style=" color: #5c9735"></i>
                </a>
                <span class="item-count" id="item-count" style="color:black" data-quantity="@Model.Quantity">@Model.Quantity</span>
            </div>
        </a>
        @{
            if (User.Identity.IsAuthenticated)
            {
                <span>@User.Identity.Name</span>
                <a asp-action="logout" asp-controller="account" class="nav-link"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
            }
            else
            {
                <a asp-action="login" asp-controller="account" class="nav-link">
                    <i style="margin-left: 30px; margin-right: 10px; color:#5c9735" class="fa-regular fa-user"></i>
                </a>

            }
        }
    </div>
</div>